@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
}

header {
  width: 100%;
  padding: 10px 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d8d8d8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.logo-header a {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  text-decoration: none;
}

.navigation a {
  margin: 0 10px;
  text-decoration: none;
  color: #000000;
}

.cart {
  padding: 5px 0;
}

.ocean-img {
  width: 100%; /* ajusta el ancho según tus necesidades */
  height: 500px; /* ajusta la altura según tus necesidades */
  background-image: url("/images/plano-mar.jpg"); /* ruta a tu imagen */
  background-size: 100% 100%; /* para que la imagen ocupe todo el elemento */
  background-position: center; /* para que la imagen esté centrada */
  display: flex;
  align-items: center;
}

.title-page {
  color: #ffffff;
  backdrop-filter: blur(8px);
  padding: 10px; /* espacio alrededor del texto */
  display: inline-block; /* para que el fondo solo ocupe el espacio necesario */
  width: 100%;
  text-align: center;
  border-top: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
}
